<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{subject}}</title>
  </head>
  <body>
    <div class="container">
      <h1>{{translate "Hello"}} {{user.givenName}},</h1>
      <p>{{translate "We have sent you this email because you forgot your password."}}</p>
    <p>{{translate "You can reset your password "}}<a href={{url}}>{{translate "here"}}</a>.</p>
    </div>
  </body>
</html>
